/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main Styling */
body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}

.navbar a {
  color: #000000;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline;
  padding: 0px 10px;
}

.navbar .right-align {
  font-size: 13px;
  margin: -10px 0px;
}

.navbar button {
  border: none;
  background-color: #1a73e8;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 25px;
  cursor: pointer;
}

/* Main Hero */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
}

.main .logo img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.main .searchbar {
  max-width: 600px;
  width: 100%;
  margin: 20px 10px;
  padding: 0px 20px;
}

.main .searchbar input {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 15px 30px;
  outline: none;
  width: 100%;
}

.main .searchbar input:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.main button {
  border: none;
  background-color: #f8f9fa;
  color: #3c4043;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #f8f9fa;
  margin: 5px;
}

.main button:hover {
  cursor: pointer;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

/* Footer */
.footer {
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer ul {
  list-style: none;
  margin: 20px 30px;
}

.footer ul li {
  display: inline;
  padding: 0px 10px;
}

.footer a {
  color: #70757A;
}

@media(max-width: 632px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}